.triangle-botom-1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 100px 0 100px;
    border-color: red transparent transparent transparent;
    position: absolute;
    left: 108px;
    top: 50px;
}
.triangle-botom-2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 200px 0;
    border-color: transparent #FF5858 transparent transparent;
    position: absolute;
    top: 50px;
    
}
.triangle-botom-3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: #FF5858 transparent transparent transparent;
    position: absolute;
    top: 50px;
    left: 208px;
}
.triangle-top-1 {
    width: 200px;
    height: 0;
    border-style: solid;
    border-width: 0 100px 40px 100px;
    border-color: transparent transparent red transparent;
    position: absolute;
}
.triangle-top-2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 100px 0 100px;
    border-color: #FF5858 transparent transparent transparent;
    position: absolute;
    left: 110px
}